# Use NeoVim instead of Vim
alias vim='nvim'
# Use brew svn
alias svn='/usr/local/bin/svn'
# Use brew git
alias git='/usr/local/bin/git'
# Remove all SVN un-versioned files
alias svn-clean='svn status --no-ignore | grep "^[I?]" | cut -c 9- | while IFS= read -r f; do rm -rf "$f"; done'
# Pip upgrade all
alias pip-upgrade='pip freeze --local | grep -v "^\-e" | cut -d = -f 1  | xargs -n1 pip install -U'
